body, html {
    background:  #fff;
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
span, option, body {
    font-family: sans-serif;
    margin: 0px;
    overflow: hidden;
    font-size: 13px;
}

#toggle {
    left: 10px;
    bottom: 10px;
    position: absolute;
}

#camera_view {
    right: 10px;
    bottom: 10px;
    position: absolute;
}

#form_wrapper {
    position: absolute;
    left: 10px;
    bottom: 10px;
    background: #fff;
    padding: 10px 20px 20px 20px;
    border-radius: 10px;
    border: 1px #333 solid;
}

select {
    max-width: 190px;
}

#dof {
    font-size: 1em;
    padding: 5px 0px;
    position: absolute;
    left: 0px;
    width: 100%;
    background: #777;
    text-align: center;
    color: #fff;
    top: 0px;
}

#form div {
    padding-top: 10px;
}

#navi {
    padding-top: 10px;
}

label span {
    width: 60px;
    vertical-align: middle;
    display: inline-block;
}